<p class="item" style="font-weight: bold;">
    I started working in the the software business as soon as I finished high school.
    In my years in the industry I've been involved in a variety of software companies
    as a developer focusing in sharpening my skills. I’m a Passionate software practitioner
    involved in variety of languages and frameworks with several years of experience
    and responsibility. I'm particularly interested in team leading and software architecture.
    I'm always eager to confront new technologies and surpass myself. Fond of agile
    methodologies, planning and estimations. I found in recent years that I like to
    teach and coach teams in agile methodologies and A&D. I'm looking for a challenging
    and rewarding position as a Software Architect or Team Leader. I want to keep learning
    and growing as a software architect and team leader, working in challenging endeavors
    and using all my experience to improve the product and the team.</p>
