<div class="row-fluid">
    <p class="item-title">
        Universidad de Palermo <span class="date">2006-2011</span>
    </p>
    <p class="item-subtitle">
        BS Computer Science</p>
</div>
<div class="row-fluid">
    <p class="item-title">
        Instituto Terciario ORT <span class="date">2000-2004</span></p>
    <p class="item-subtitle">
        Computer System Analyst</p>
</div>
