<div class="row">
    <div class="offset4 span8">
        <div class="header">
            <div class="title">
                <span class="glow">I</span>ONI <span class="glow">S</span>OLARZ
            </div>
            <div class="key">
                <span class="glow">{</span>
            </div>
            <div class="info">
                jsolarz<span class="glow">@@</span>gmail.com<br />
                <span class="glow">@@</span>ionis_
            </div>
        </div>
    </div>    
</div>
