<!--PROGRESS BAR-->
<ul class="unstyled">
    <li><strong>.Net</strong>
        <div class="progress">
            <div class="bar" style="width: 90%;">
            </div>
        </div>
    </li>
    <li><strong>Photoshop</strong>
        <div class="progress">
            <div class="bar " style="width: 50%;">
            </div>
        </div>
    </li>
    <li><strong>HTML</strong>
        <div class="progress">
            <div class="bar " style="width: 85%;">
            </div>
        </div>
    </li>
    <li><strong>CSS</strong>
        <div class="progress">
            <div class="bar " style="width: 70%;">
            </div>
        </div>
    </li>
    <li><strong>Javascript</strong>
        <div class="progress">
            <div class="bar " style="width: 85%;">
            </div>
        </div>
    </li>
    <li><strong>PHP</strong>
        <div class="progress">
            <div class="bar " style="width: 75%;">
            </div>
        </div>
    </li>
    <li>
        <div class="progress">
            <div class="bar " style="width: 60%;">
            </div>
        </div>
    </li>
    <li><strong>Java</strong>
        <div class="progress">
            <div class="bar " style="width: 20%;">
            </div>
        </div>
    </li>
</ul>
