<div class="row">
    <div class="span5 offset4">
        <ul class="nav nav-pills">
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#resume">RESUME</a></li>
            <li><a href="#projects">PROJECTS</a></li>
            <li><a href="#contact">CONTACT</a></li>
        </ul>
    </div>
</div>
